.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    /* width: 250px; */
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    gap: 10px;
    justify-items: stretch;
    text-align: center;
}

.grid-item {
    border-style: solid;
    border-width: 1px;
}

.display-container {
    height: 50px;
    grid-column: 1 / span 4;
}

.top-display {
    height: 20px;
    text-align: left;
}

.main-display {
    position: relative;
    height: 30px;
}

.main-display-text {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 0;
}

.grid-item-1 {
    grid-column: 1 / span 2;
}

.grid-item-2 {
    grid-column: 3 / span 2;
}