body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    gap: 10px;
    justify-items: stretch;
    text-align: center;
    padding: 20px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
}

.display-container {
    height: 50px;
    grid-column: 1 / span 4;
    padding: 10px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    overflow: auto;
}

.top-display {
    height: 20px;
    text-align: left;
    font-size: .75rem;
}

.main-display {
    position: relative;
    height: 30px;
}

#main-display-text {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 0;
}

#clear {
    grid-column: 1 / span 2;
}

#delete {
    grid-column: 3 / span 2;
}

button {
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: aquamarine;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 15px;
}