.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    width: 250px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: 50px auto;
    gap: 10px;
    justify-items: stretch;
    text-align: center;
}

.grid-item {
    border-style: solid;
    border-width: 1px;
}

.display-container {
    grid-column: 1 / span 4;
}

.grid-item-1 {
    grid-column: 1 / span 2;
}

.grid-item-2 {
    grid-column: 3 / span 2;
}